<h1>&iquest;Qu&eacute; est&aacute;s haciendo?</h1>

<div class="content">
  <%= link_to "Publicar", new_post_path, id: "new_post_link", class: "button" %>
  <div id="post_form">
    <%= render "form" %>
  </div>
  <%= render "results", posts: @posts %>
</div>

<div class="sidebar">
  <div class="block">
    <h2>&iquest;Qu&eacute; est&aacute; sucediendo?</h2>
    <ul id="realtime-ticker">
      <li>Demo thing</li>
      <% @posts.each do |post| %>
        <li><%= post.content %></li>
      <% end %>
    </ul>
  </div>
</div>

