<!DOCTYPE html>
<html>
<head>
  <title>Facesquare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>OMG MY SUPER APP</h1>
<%= yield %>
<footer>
  <h2>Hi!</h2>
</footer>
</body>
</html>
